@model WebAppTest.Models.TimeSheet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TimeSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEmployment" class="control-label"></label>
                <input asp-for="IdEmployment" class="form-control" />
                <span asp-validation-for="IdEmployment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakStart" class="control-label"></label>
                <input asp-for="BreakStart" class="form-control" />
                <span asp-validation-for="BreakStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakEnd" class="control-label"></label>
                <input asp-for="BreakEnd" class="form-control" />
                <span asp-validation-for="BreakEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
